@model IEnumerable<DA_NH.Models.MenuItem>
@foreach (var item in Model)
{
    <div class="col-lg-6">
        <div class="d-flex align-items-center">
            <a href="shop.html" class="product-item_img">
            <img class="flex-shrink-0 img-fluid rounded" src="@item.ImageUrl" alt="" style="width: 80px;">
            </a>
            <div class="w-100 d-flex flex-column text-start ps-4">
                <h5 class="d-flex justify-content-between border-bottom pb-2">
                    <span>@item.Name</span>
                    <span class="text-primary">$@item.Price</span>
                </h5>
                <small class="fst-italic">@item.Description</small>
            </div>
        </div>
    </div>

   
    
}
