@model DA_NH.Models.MenuReview

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductReviewId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
