@model DA_NH.Models.User

@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>RegistrationForm_v8 by Colorlib</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- MATERIAL DESIGN ICONIC FONT -->
	<link rel="stylesheet" href="~/css2/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

	<!-- STYLE CSS -->
	<link rel="stylesheet" href="~/css2/css/style.css">

</head>

<body>

	<div class="wrapper">
		@* <div class="image-header">
			<img src="~/css2/images/blog1jpg.jpg" style="width: 1100px; height: 800px;" />
        </div> *@
		
		<div class="form-inner"  >
			
				<div class="form-header">
					<h3>Sign up</h3>
					<img src="~/css2/images/sign-up.png" alt="" class="sign-up-icon">
				</div>
			<form novalidate asp-controller="Register" asp-action="Index">
				<div class="form-group" >
					<label for="yourName">FullName:</label>
					<input type="FullName" asp-for="FullName" class="form-control" id="yourName" required >
					
				</div>
				<div class="form-group" >

					<label for="yourName">Username:</label>
					<input type="UserName" asp-for="UserName" class="form-control" id="yourName" required >
					
				</div>
				<div class="form-group">
					<label for="">E-mail:</label>
					<input type="email" asp-for="Email" class="form-control" id="yourEmail" required >
					
				</div>
				<div class="form-group">
					<label for="">Password:</label>
					<input type="password" asp-for="Password" class="form-control" id="yourPassword" required >
					
				</div>
				<div class="form-group d-none">
					<input asp-for="IsActive" type="hidden" class="form-control" value="True" />

				</div>
				<button type="submit">create my account</button>
				
				<div class="socials">
					<div class="col-12">
						<p class="small mb-0">Already have an account? <a href="@Url.Action("Index", "Login")">Log in</a></p>
					</div>
					<a href="" class="socials-icon">
						<i class="zmdi zmdi-facebook"></i>
					</a>
					<a href="" class="socials-icon">
						<i class="zmdi zmdi-instagram"></i>
					</a>
					<a href="" class="socials-icon">
						<i class="zmdi zmdi-twitter"></i>
					</a>
					<a href="" class="socials-icon">
						<i class="zmdi zmdi-tumblr"></i>
					</a>
				</div>
				
			</form>
		</div>

	</div>

	<script src="~/css2/js/jquery-3.3.1.min.js"></script>
	<script src="~/css2/js/jquery.form-validator.min.js"></script>
	<script src="~/css2/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>